<md-divider></md-divider>


     


<md-divider></md-divider>


<div class="md-padding">

    <md-grid-list 
    md-cols-xs="1" md-cols-sm="1" md-cols="1" md-cols-md="1" md-cols-gt-md="1"
    md-row-height-gt-md="16:1" md-row-height-sm="16:1" md-row-height="16:4" >
   


                        <!-- VISUALIZAÇÃO DE PACOTES -->
            <md-grid-tile  >
                           
                

                  

                                <md-icon flex="50" layout-fill    aria-label="Success"                    
                                md-svg-src="assets/images/if_check_1930264.svg">
                              </md-icon>

                              </md-grid-tile>

            <md-grid-tile  >
                

                   
        <div  class=" font-success-bold">
                
                    <span class="md-display-1 font-success-bold">Parabéns!</span> 
            </div>


            </md-grid-tile>

            <md-grid-tile  >
                

                
                    <span class="md-display-1 font-success">Você agora é um assinante SexLog</span> 

                    </md-grid-tile>
       

               
                  <md-grid-tile>
                  
                        <md-card class="primary-color font-white" >
                            <md-card-title class="md-padding" >
                              <md-card-title-text>
                                <span class="md-headlin" layout="row" layout-align="center">
                                  Explorar SexLog
                                </span>
                              </md-card-title-text>
                             
                            </md-card-title>
                           
                          </md-card>

                          </md-grid-tile>

                          
            


      


                                           

            </md-grid-tile>

         

                        <!-- SELECIONAR PACOTES MENSAIS -->
            
        
        </div>
